[Unit]
Description=Persistent oc port-forward service for Delve debugger
After=network.target

[Service]
RestartSec=1
Restart=always
ExecStart=${OC_PATH} --kubeconfig ${KUBECONFIG} port-forward -n openshift-ingress deployment/router-default --address 127.0.0.1 ${LOCAL_DEBUG_PORT}:7000
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
