[Unit]
Description=Persistent oc port-forward service for SSH
After=network.target

[Service]
RestartSec=3
Restart=always
ExecStart=${OC_PATH} --kubeconfig ${KUBECONFIG} port-forward -n openshift-ingress deployment/router-default --address 127.0.0.1 ${LOCAL_SSH_PORT}:2222
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
